!| Xterm configuration
!| --------------------
xterm*termName: xterm-256color
xterm*dynamicColors: true
xterm*vt100.locale: true
xterm*vt100.metaSendsEscape: true
xterm*vt100.backarrowKey: false
xterm*ttyModes: erase ^?
xterm*vt100.saveLines: 4096
xterm*vt100.geometry: 100x25

! Font
xterm*vt100.faceName: DejaVu Sans Mono for Powerline
xterm*vt100.faceSize: 9


!| URxvt Configuration
!| --------------------
! do not scroll with output
URxvt.scrollTtyOutput:	false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer:	true

! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress:	true
URxvt.scrollStyle:	rxvt
URxvt.scrollBar:	false

! Font
!URxvt.font:	xft:xos4 Terminus:size=11,xft:TerminessTTFNerdFontMono:size=11
URxvt.font:	xft:Inconsolata Nerd Font Mono:size=9:style=Regular:antialias=true:hinting=true
URxvt.boldFont:	xft:Inconsolata Nerd Font Mono:size=9:style=Bold:antialias=true:hinting=true
URxvt.italicFont:	xft:Inconsolata Nerd Font Mono:size=9:style=Italic:antialias=true:hinting=true
URxvt.boldItalicfont:	xft:Inconsolata Nerd Font Mono:size=9:style=Bold Italic:antialias=true:hinting=true
URxvt.letterSpace:	0
URxvt.lineSpace:	0

! Cursor
URxvt.cursorBlink:	true
URxvt.cursorUnderline:	true

! UI
!True transparency
URxvt*transparent:	false
URxvt.depth:	32
URxvt.background:	[100]#2E3440
!URxvt.background:	rgba:1111/1111/1111/dddd
URxvt*iconFile:	/usr/share/icons/Papirus/32x32/apps/urxvt.svg

URxvt.geometry:	100x25
URxvt.internalBorder:	10
URxvt.saveline:	2048
URxvt.fading:	0
URxvt*dynamicColors:	on
URxvt.urgentOnBell:	true
!URxvt.iso14755:	false

!Native transparency
!URxvt*inheritPixmap:	true
!URxvt*transparent:	true
!URxvt*shading:	0 to 99 darkens, 101 to 200 lightens
!URxvt*shading:	110

!URxvt*termName:	xterm-256color


!| Color Configuration
!| --------------------
! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


! PERL Extensions
URxvt.perl-ext-common: default,matcher,clipboard,url-select,resize-font

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
